<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Insurance</title>
</head>
<body>

<form method="POST" action="/result">
  <label for="age">age</label><br>
  <input type="number" id="age" name="age"><br>

  <label for="sex">sex</label><br>
  <input type="text" id="sex" name="sex"><br>

  <label for="bmi">bmi</label><br>
  <input type="number" id="bmi" name="bmi"><br>

  <label for="children">children</label><br>
  <input type="number" id="children" name="children"><br>

  <label for="smoker">smoker</label><br>
  <input type="text" id="smoker" name="smoker"><br><br>

   <label for="region">region</label>
    <select name='region' id="region">
      <option value="northeast">northeast</option>
      <option value="northwest">northwest</option>
      <option value="southeast">southeast</option>
      <option value="southwest">southwest</option>
    </select><br><br>

      <input type="submit" value="Submit">

</form>


</body>
</html>